.App {
  text-align: center;
  width: 320px;
  color: wheat;
  height: 500px;
  box-sizing: border-box;
}

html {
  background-color: black;
}
.highlight-section {
  position: relative;
  width: 320px;
  overflow: hidden;
  height: 320px;
}
.slider-container {
  display: flex;
  position: absolute;
  transform: translateX();
  transition: 800ms;
}
.inner-slider {
  position: absolute;
  width: 100%;
  left: 0px;
}
.highlight-card {
  background-color: rgb(72, 72, 94);
  margin: 10px;
  width: 300px;
  height: 300px;
 user-select: none;
 position: relative;
pointer-events: none;
}

.btn-indicator {
  padding: 0;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border-style: none;
  margin: 4px;
  cursor: pointer;
  background-color: dimgray;
  
}

.active-btn{
  background-color: #FF3600;
  padding: 0;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border-style: none;
  margin: 4px;
  cursor: pointer;
}